@use '../../styles/form_variables' as vars;
@use '../../styles/font_variables' as font;

.auth-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .auth-type{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        svg{
            padding: 8px;
            background-color: vars.$form_box_background;
            border-radius: 100%;
            width: 27px;
        }
        h1 {
            margin-left: 10px;
            font-size: font.$large_font_size;
        }
    }
}