@use './styles/font_variables' as font;

body, html{
    font-family: font.$default_font;
    font-size: font.$default_font_size;
}

a{
	color: #A3CEFF;
	font-style: italic;
	text-decoration: none;
}
