.styled-form{
    padding-inline: 20px;
    width: 560px;
    background: #1E1E1E;
    input {
        background: none;
        &::placeholder{
            color: #545454;
        }
    }
    * {
        font-family: "Robotic";
        width: 100%;
        font-weight: 300;
        padding-block: 15px;
        border: none;
        border-bottom: 2px solid white;   
        &:last-child{
            border-bottom: none;
        }
    }
}