@use '../../styles/form_variables' as vars;
@use '../../styles/font_variables' as font;

.styled-form{
    position: relative;
    padding-inline: 20px;
    width: 560px;
    background: vars.$form_box_background;
    border-radius: 20px;
    .form-data{
        input {
            background: none;
            &::placeholder{
                color: vars.$form_placeholder_color;
            }
        }
        * {
            width: 100%;
            font-weight: font.$default_light_weight;
            padding-block: 15px;
            border: none;
            border-bottom: 2px solid white;   
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .go-btn {
        position: absolute;
        left: 100%;
        top: 50%;
        translate: -50% -50%;
        width: 64px;
        height: 64px;
        border-radius: 100%;
    }
}
