$form_box_background: #1E1E1E;
$form_background: #2C2C2C;
$form_placeholder_color: #545454;

$form_font_size: 16px;
$form_font: "Roboto";
$form_font_weight: 400;

$form_title_font_size: 32px;
$form_title_font: "Roboto";
$form_title_font_weight: 400;

$form_btn_font_size: 16px;
$form_btn_font: "Roboto";
$form_btn_font_weight: 400;